[submodule "nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree/

[submodule "vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs/

[submodule "vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript/

[submodule "vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline/

[submodule "vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive/

[submodule "ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim/

[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/salt-vim"]
	path = vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
